[defaults]
nocows = 1
vault_password_file = .vault-password
host_key_checking = False
retry_files_enabled = False
roles_path = ./galaxy/roles:./roles
collections_path = ./galaxy
inventory = ./hosts.yaml
remote_tmp = /tmp/

stdout_callback = debug
stderr_callback = debug

[privilege_escalation]
become_ask_pass = False

[ssh_connection]
pipelining = True
scp_if_ssh = smart
transfer_method = smart
