{{ ansible_managed | comment }}
# This service launches syncoid for ZFS snapshot replication.
#
[Unit]
Description=Syncoid ZFS Snapshot Replication
Documentation=man:syncoid(8)

[Service]
Type=oneshot
ExecStart=syncoid {{ syncoid_src_dataset }} {{ syncoid_dst_dataset }} \
    -r --sendoptions="-w" --recvoptions="o recordsize=1M o compression=zstd" \
    --force-delete \
{% for e in syncoid_exclude_patterns %}
  {% if not loop.last %}
    --exclude="{{ e }}" \
  {% else %}
    --exclude="{{ e }}"
  {% endif %}
{% endfor %}
User=root
Group=root

[Install]
WantedBy=multi-user.target
