{{ ansible_managed | comment }}

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

45 3 * * * root syncoid fast tank/fast-snapshots --recursive --no-sync-snap --sendoptions="-w" --exclude="fast/docker*" --quiet
