#!/bin/bash
{{ ansible_managed | comment }}
# Script to quickly back up Proxmox configuration files (basically, /etc).
# Originally by mrpeardotnet@github, modified slightly to suit use case.
#
set -e

BACKUP_PATH=("/mnt/ext-backups/pve-host" "/mnt/pve/vm-backups/pve-host")
BACKUP_FILE_PREFIX="pve-host"
KEEP_DAYS=30
PVE_BACKUP_SET="/etc/pve/ /etc/lvm/ /etc/modprobe.d/ /etc/network/interfaces /etc/vzdump.conf /etc/sysctl.conf /etc/resolv.conf /etc/ksmtuned.conf /etc/hosts /etc/hostname /etc/cron* /etc/aliases"
PVE_CUSTOM_BACKUP_SET="/etc/apcupsd/"

backup_file="/tmp/${BACKUP_FILE_PREFIX}-$(date +%Y%m%d-%H%M%S).tar.gz"

tar -czf ${backup_file} -P ${PVE_BACKUP_SET} ${PVE_CUSTOM_BACKUP_SET}
for i in ${BACKUP_PATH[@]}; do
        cp ${backup_file} $i
        find ${i}/${BACKUP_FILE_PREFIX}-* -mindepth 0 -maxdepth 0 -depth -mtime +${KEEP_DAYS} -delete
done
rm ${backup_file}
