# Samba configuration -- Managed by Ansible, please don't edit manually
# vim: ft=samba
#
# Ansible managed

[global]
  min protocol = SMB2
  load printers = no
  #encrypt passwords = yes
  guest account = nobody
  map to guest = bad user

  # Apple specific configuration
  vfs objects = acl_xattr catia fruit streams_xattr
  fruit:aapl = yes 
  fruit:metadata = stream
  fruit:model = MacSamba
  fruit:encoding = native
  fruit:resource = xattr
  fruit:copyfile = yes
  fruit:posix_rename = yes
  fruit:veto_appledouble = no
  fruit:zero_file_id = yes
  fruit:wipe_intentionally_left_blank_rfork = yes
  fruit:delete_empty_adfiles = yes

  # Store DOS attributes in extended attributes (no mapping)
  ea support = yes
  map hidden = no
  map system = no
  map archive = no
  map readonly = no

  # Performance tuning
  smb2 leases = yes
  dns proxy = no
  dead time = 15
  unix extensions = no
  unix charset = UTF8
  case sensitive = yes
  preserve case = yes
  short preserve case = yes

# Define shares below
[homes]
  comment = %U home directory
  path = {{ samba_shares.home }}
  browseable = no
  read only = no
  writable = yes
  create mask = 0600
  directory mask = 0700
  valid users = %S
  guest ok = no

[media]
  comment = Movies and TV
  path = {{ samba_shares.media }}
  public = False
  guest ok = False
  writable = True
  create mode = 0664
  directory mode = 0775

[time machine]
  comment = Time Machine backups
  path = {{ samba_shares.timemachine }}
  valid users = %U
  writable = yes
  browseable = yes
  read only = no
  inherit acls = yes
  durable handles = yes
  kernel oplocks = no
  kernel share modes = no
  posix locking = no  
  #vfs objects = acl_xattr catia fruit streams_xattr
  fruit:time machine = yes

